  
<div class="footer">
  <div class="container footer-wraper">
    <div class="row">
      <div class="col">
       <img class="footer-icon" src="../../../assets/icons/message.png"/>
       <p>Msgs</p>
      </div>
      <div class="col">
        <img class="footer-icon" src="../../../assets/icons/reminder.png"/>
        <p>Reminder</p>
      </div>
      <div class="col">
        <div class="consult-sect">
           <!-- important -->
            <!-- i have just put dummy icon here you can add real icom here   -->
          <img class="consult-btn" src="../../../assets/icons/Add-reminder.png"/>
          <p>Consult</p>
        </div>
      </div>
      <div class="col">
        <img class="footer-icon" src="../../../assets/icons/records.png"/>
        <p>Records</p>
      </div>
      <div class="col">
        <img class="footer-icon" src="../../../assets/icons/profile.png"/>
        <p>Profile</p>
      </div>
    </div>
  </div>
</div>