.footer{
    background-color:#e5e5e5;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding-top: 5px;
    .footer-wraper{
        position: relative;
        text-align: center;
        .consult-sect{
            position: absolute;
            top: -28px;
            left: 0;
            right: 0;
            .consult-btn{
                background: #e98332;
                border-radius: 30px;
                padding: 7px;
                border: 7px solid #FAE2CE;
              
            }
        }
      
        .footer-icon{
            width: 27px;
            height: 23px;
        }
    }  
    p{
        font-size: 12px;
    } 
    
}