
input[type="file"] {
    display: none;
  }
  
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 15px 20px;
    cursor: pointer;
  }
  
  .custom-input {
    width: 90%;
    margin: 20px auto;
  }