.modal-inner{
  .header-top{
    display: flex;
    img{
      width: 22px;
      height: 20px;
      margin-right: 5px;
    }
  }
  .modal-body{
    h2{
      font-size: 12px;
      font-weight: bold;
      color:#e98332;
      margin-bottom: 0;
    }
    p{
      font-size: 14px;
    }
  }
  .footer-content{
    display: flex;
    justify-content: flex-end;
    color: #007bff;
    padding: 5px;
    img{
      width: 20px;
    }
  }
}
