<div class="modal-inner makeCenter" *ngIf="type=='setReminder'">
  <div class="modal-header">
      <!-- <h4 class="modal-title pull-left">sdfsdf</h4> -->
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body sucess">
    <h3>Your Data Has Been Successfully Saved</h3>
    <p>Continue to the Next Step & Complete
        your Profile Application</p>
  </div>
  <div class="modal-body sucess">
    <h3>Your Data is uploaded Successfully</h3>
  </div>

  <div class="footer-content">
    <a (click)="bsModalRef.hide()">Skip for now</a>
    <a class="custom-btn green-bg white-txt" (click)="bsModalRef.hide()" >Got it</a>
  </div>
</div>