<div class="screen2">
    <div class="container">
      <div class="top-content">
        <div class="user-info">
           <!-- important -->
            <!-- i have just put dummy icon here you can add real icom here   -->
          <img src="../../../assets//icons//profile.png" alt="please wait...">
          <div>
            <p>Reminder For</p>
            <p>Ramakant Panda</p>
          </div>
        </div>
        <div class="profile-switch">
          <p>Switch Profile</p>
          <img src="../../../assets/icons/switch-profile.png" alt="please wait...">
        </div>
      </div>
  
      <div class="content">
        <div class="custom-dropdown">
          <div class="input-group ml-1">
              <select class="form-control custom-input1" id="inputGroupSelect01">
                <option selected value="1">Sort by time slot</option>
                <option value="2">time 1</option>
                <option value="3">time 2</option>
                <option value="4">time 3</option>
                <option value="5">time 4</option>
              </select>
              <img src="../../../assets/icons/down-arrow.png" alt="">
            </div>
        </div>
        <div class="">
          <div class="custom-grid mt-3">
            <h3>MORNING</h3>
            <img class="add-icon" src="../../../assets/icons/Add-reminder.png" alt="">
          </div>
          <div class="custom-grid custom-border">
            <div class="">
              <h2>Crocin 500mg</h2>
              <p>Blood thinner at 09:00 am</p>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="switch1">
                <label class="custom-control-label" for="switch1"></label>
              </div>
          </div>
          <div class="custom-grid custom-border">
            <div class="">
              <h2>Crocin 500mg</h2>
              <p>Blood thinner at 09:00 am</p>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="switch2">
                <label class="custom-control-label" for="switch2"></label>
              </div>
          </div>
        </div>

        <div class="">
            <div class="custom-grid mt-3">
              <h3>AFTERNOON</h3>
              <img class="add-icon" src="../../../assets/icons/Add-reminder.png" alt="">
            </div>
            <div class="custom-grid custom-border">
              <div class="">
                <h2>Crocin 500mg</h2>
                <p>Blood thinner at 09:00 am</p>
              </div>
              <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="switch3">
                  <label class="custom-control-label" for="switch3"></label>
                </div>
            </div>
            <div class="custom-grid custom-border">
              <div class="">
                <h2>Crocin 500mg</h2>
                <p>Blood thinner at 09:00 am</p>
              </div>
              <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="switch4">
                  <label class="custom-control-label" for="switch4"></label>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  