<div class="screen1">
  <div class="container">
    <div class="top-content">
      <div class="user-info">
         <!-- important -->
          <!-- i have just put dummy icon here you can add real icom here   -->
        <img src="../../../assets//icons//profile.png" alt="please wait...">
        <div>
          <p>Reminder For</p>
          <p>Ramakant Panda</p>
        </div>
      </div>
      <div class="profile-switch">
        <p>Switch Profile</p>
        <img src="../../../assets/icons/switch-profile.png" alt="please wait...">
      </div>
    </div>

    <div class="content">
      <div class="alarm">
        <img class="alarm-icon" src="../../../assets/icons/reminder (2).png" alt="">
      </div>
      <div>
        <h3>You have no reminder set</h3>
        <p>Set reminder's so that you don't skip medicines</p>
      </div>
      <div class="reminder-btn">
        <button type="button" (click)="openSetReminderModal()" class="btn btn-primary">Set Reminder <img class="arrow-icon" src="../../../assets/icons/Arrow.png" alt=""> </button>
      </div>
    </div>
  </div>
</div>
