<div class="screen2">
    <div class="container">
      <div class="top-content">
        <div class="user-info">
           <!-- important -->
            <!-- i have just put dummy icon here you can add real icom here   -->
          <img src="../../../assets//icons//profile.png" alt="please wait...">
          <div>
            <p>Reminder For</p>
            <p>Ramakant Panda</p>
          </div>
        </div>
        <div class="profile-switch">
          <p>Switch Profile</p>
          <img src="../../../assets/icons/switch-profile.png" alt="please wait...">
        </div>
      </div>
  
      <div class="content">
        <div class="custom-dropdown">
          <div class="input-group ml-1">
              <select class="form-control custom-input1" id="inputGroupSelect01">
                <option selected value="1">Sort by title</option>
                <option value="2">title 1</option>
                <option value="3">title 1</option>
                <option value="4">title 1</option>
                <option value="5">title 1</option>
              </select>
              <img src="../../../assets/icons/down-arrow.png" alt="">
            </div>
        </div>
        <div class="">
          <div class="custom-grid mt-3">
            <h3>Blood Thinner</h3>
            <img class="add-icon" src="../../../assets/icons/Add-reminder.png" alt="">
          </div>
          <div class="custom-grid">
            <p>09:00 am : Crocin 500mg</p>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="switch1">
                <label class="custom-control-label" for="switch1"></label>
              </div>
          </div>

          <div class="custom-grid mt-3">
              <h3>Throat Pain</h3>
              <img class="add-icon" src="../../../assets/icons/Add-reminder.png" alt="">
            </div>
            <div class="custom-grid">
              <div>
                  <p>09:00 am : Crocin 500mg</p>
                  <p>09:00 am : Cambiflam 500mg</p>
                  <p>09:00 am : Azee 500mg</p>
              </div>  
              <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="switch1">
                  <label class="custom-control-label" for="switch1"></label>
                </div>
            </div>
        </div>
       
          
      </div>
    </div>
  </div>
  