<div class="reminder">
    <div class="container">
        <div class="row">
          <div class="top-heading">
            <!-- important -->
            <!-- i have just put dummy icon here you can add real icom here   -->
            <img src="../../../assets/icons/switch-profile.png" alt=""> 
            <h3 class="heading1">Setting Reminder</h3>
          </div>
        </div>
        <div class="row">
            <label class="" for="title">REMINDER TITLE</label>
            <div class="input-group">
                <input type="text" id="title" class="form-control" placeholder="E.g. Vitamins or Health Medicine">
            </div>
        </div>
        <div class="row">
            <label class="" for="title">MEDICINE NAME</label>
            <div class="flex-1">
              <div class="input-groug">
                  <input type="text" class="form-control custom-input">
              </div>
              <div class="input-group ml-1">
                <select class="custom-select custom-input" id="inputGroupSelect01">
                  <option selected value="1">500 mg</option>
                  <option value="2">600 mg</option>
                  <option value="3">700 mg</option>
                </select>
              </div>
            </div>
        </div>
    </div>
</div>
